/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Estilos de las notificaciones tipo push */

.styleSnackBarError {
  background-color: #a52a2a;
  color: #fff;
}

.stylesnackBarSuccesfull {
  background-color: #47a52a;
  color: #fff;
}